body    {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header  {
    display: flex;
    flex-direction: row;
    padding: 15px 50px;
    background-color: black;
    
    
}

.header-container    {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    gap: 20px;
}

a   {
    text-decoration: none;
    color: grey;
}

.logo {
    color: white;
    font-weight: 800;
    font-size: medium;
}